@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root{
    --color-accent: rgba(255, 191, 14);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka';
}

.App {
    background: rgb(0,255,218);
    background: linear-gradient(138deg, hsl(171, 100%, 45%) 0%, hsl(192, 100%, 45%) 100%);
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.container .search {
    width: 100%;
}

.container .search h2 {
    font-weight: 600;
    font-size: 100px;
    display: inline;
}

.container .search form {
    margin: 25px 0;
}

.container .search .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .search .form-input {
    border: 3px solid var(--color-accent);
    width: 40%;
    height: 50px;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 30px;
    color: rgb(29, 54, 56);
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 25px;
}

.container .search .form-input::placeholder {
    color: rgb(165, 165, 165);
}

.container .search .form-input:focus-visible {
    outline: none;
    background-color: rgba(255, 255, 255, 0.95);
}

.container .search .form-submit {
    margin-left: 25px;
    border: 3px solid var(--color-accent);
    height: 50px;
    font-size: 22px;
    border-radius: 50px;
    padding: 0 15px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--color-accent);
    font-weight: 600;
    cursor: pointer;
    transition: 200ms ease;
}

.container .search .form-submit:hover {
    background-color: var(--color-accent);
    color: white;
}

.content {
    font-size: 42px;
    margin-top: 50px;
    height: 255px;
    padding: 0 30px;
}

.content.active {
    visibility: visible;
}

.content.disabled {
    visibility: hidden;
}

.content .weather-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.footer p {
    color: white;
    font-size: 20px;
}